body{
    background-color: #f1f1f1;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
}
.first-container{
    width: 479px;
    height: 416px;
    border-radius: 10px;
    filter: drop-shadow(0px 25px 15px rgba(0,0,0,0.1));
    background-color: #ffffff;
    padding:50px 30px;
    margin-left: 50px;
    margin-top: 50px;
}
.titleCss{
    font-size: 22px;
    color: #1a1b38;
    font-weight: 700;
    margin-left: 15px;
}
.btn{
    width: 469px;
    height: 95px;
    border-radius: 5px;
    background-color: #000000;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    border: none;
}
.labels{
    font-size: 16px;
    color: #1a1b38;
}
.radios{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 15px;
    width: 369px;
    height: 55px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}
.radio{
    width: 33px;
    height: 33px;
    border-radius: 17px;
    background-color: #ffffff;
    border: 2px solid #bcbcbc;
}
.second-container{
    width: 444px;
    height: 601px;
    border-radius: 10px;
    filter: drop-shadow(0px 25px 25px rgba(0,0,0,0.3));
    background-color: #ffffff;
    /* margin-top: 150px; */
}
.close{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
}
.close .fas.fa-times{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.titleCss-second{
    font-size: 22px;
    color: #1a1b38;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 15px;
}
.visa{
    margin-top: 50px;
    margin-left: 50px;
}
.card-inf{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    
}
.inputInf{
    width: 150px;
    height: 25px;
    margin: 5px;
    font-family: 'Mulish', sans-serif;
}
.footer{
    width: 284px;
    height: 36px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin-left: 80px;
    margin-top: 40px;
    font-weight: bold;
}
