$general-radius: 10px;
body {
  background: rgba(255, 106, 149, 0.1);
  font-family: 'Montserrat', sans-serif;
}
.col {
  z-index: -1;
  background-color: #ff6a95;
  border-radius: $general-radius;
  width: 404px;
  height: 592px;
  position: absolute;
  left: 470px;
  top: 38px;
}
.first-row {
  position: absolute;
  left: 656px;
  top: 134px;
  width: 583px;
  height: 314px;
  background-color: white;
  border-radius: $general-radius;
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    .profile-img {
      img {
        border-radius: 50%;
        width: 84px;
        height: 84px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
    }
    .personal-info {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      .personal-name {
        height: 0px;
        font-size: 24px;
        color: #202142;
        font-weight: 900;
        font-style: normal;
        line-height: 14px;
      }
      .personal-job {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
      }
    }
    .follow-btn {
      margin-top: 25px;
      color: white;
      cursor: pointer;
      width: 145px;
      height: 54px;
      border-radius: $general-radius;
      background-color: #202142;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 15px;
        font-size: 18px;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    margin: 20px 35px;
    div {
      width: 165px;
      height: 124px;
      border-radius: $general-radius;
      margin-right: 10px;
    }
  }
}
.second-row {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 1170px;
  height: 222px;
  background-color: white;
  border-radius: $general-radius;
  box-shadow: 2px 5px #202142;
  .top {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 40px;
    .profile-img {
      img {
        width: 84px;
        height: 84px;
        border-radius: 50%;
      }
    }
    .personal-info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      .personal {
        margin-bottom: 10px;
        .personal-name {
          font-size: 24px;
          font-weight: 900;
          font-style: normal;
          line-height: 14px;
        }
        .personal-job {
          font-size: 14px;
        }
      }
      .following-btn {
        width: 170px;
        height: 54px;
        border-radius: $general-radius;
        border: 1px solid #202142;

        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 18px;
          font-weight: 900;

          margin-left: 15px;
        }
      }
    }
    .other-images {
      display: flex;
      flex-direction: row;
      margin-left: 100px;
      div {
        width: 216px;
        height: 162px;
        margin-right: 10px;
        border-radius: $general-radius;
      }
    }
  }
}
